<header class="parent-element navbar blackfrost fixed-topnav-bar block">
<input  style="width: 20%;" placeholder="Search media" /><a ng-click="model.social()" class="fontwhite navbar-link hand"> <span class="fa fa-sign-in"></span> Sign In</a>
    <a href="/project/#/register" class="element btn btn-primary fontwhite hand" style=""><span class="glyphicon glyphicon-leaf"></span> Sign Up</a>
</header>
<div id="loginDialog" title="">
    <div id="login" ng-include="'views/user/login.view.client.html'"></div>
</div>

<!-- glyphicon glyphicon-search-->