<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand pull-left">
            Profile
        </a>
        <p class="navbar-text pull-right">
            <a ng-click="model.updateUser()" class="navbar-link hand">
                  <span class="glyphicon glyphicon-ok">
                  </span>
            </a>
        </p>
    </div>
</nav>
<div class="container">
    <div class="alert alert-success alert-dismissible"
         ng-if="model.success"
         role="alert">
        <button ng-click="model.close()"
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"></button>
        <span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> Your profile was saved.
    </div>
    <div class="alert alert-warning alert-dismissible"
         ng-if="model.error"
         role="alert">
        <button ng-click="model.close()"
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"></button>
        <span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> User not found.
    </div>
    <form name="profile">
        <div class="form-group">
            <label for="username">
                Username
            </label>
            <input ng-model="model.user.local.username"
                   ng-disabled="true"
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="Username"/>
        </div>
        <div class="form-group">
            <label for="password">
                Password
            </label>
            <input ng-model="model.user.local.password"
                   type="password"
                   class="form-control"
                   id="password"
                   placeholder="password"/>
        </div>
        <div class="form-group">
            <label for="verify-password">
                Verify Password
            </label>
            <input ng-model="model.user.verifypassword"
                   type="password"
                   class="form-control"
                   id="verify-password"
                   placeholder="password"/>
        </div>
        <div class="form-group">
            <label for="email">
                Email address
            </label>
            <input ng-model="model.user.local.email"
                   type="email"
                   class="form-control"
                   id="email"
                   ng-pattern-restrict="^([\w!#$%&'*/~|`}{^+-]+(.|@)?)*$"
                   placeholder="johnsmith@somewebsite.com"/>
        </div>
        <div class="form-group">
            <label for="first-name">
                First Name
            </label>
            <input ng-model="model.user.local.firstName"
                   type="text"
                   class="form-control"
                   id="first-name"
                   ng-pattern-restrict="^[a-zA-Z\-]*$"
                   placeholder="Smith"/>
        </div>
        <div class="form-group">
            <label for="last-name">
                Last Name
            </label>
            <input ng-model="model.user.local.lastName"
                   type="text"
                   class="form-control"
                   id="last-name"
                   ng-pattern-restrict="^[a-zA-Z\-]*$"
                   placeholder="Smith"/>
        </div>
    </form>
    <a class="btn btn-warning btn-block"
       ng-click="model.unregister()">Unregister</a>
    <a class="btn btn-danger  btn-block"
       ng-click="model.logout()">Logout</a>
</div>

<div class="container" ng-if="model.user.flickr">
    <p>Flickr Profile</p>
    <p>{{model.user.flickr.id}}</p>
    <p>{{model.user.flickr.displayName}}</p>
    <p>{{model.user.flickr.token}} <a ng-click="model.refresh()" class="navbar-link hand">refresh token</a></p>
    <p><a ng-click="model.unflickr()"
          class="navbar-link hand"><i class="fa fa-chain-broken"></i> Account</a></p>
</div>



</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#/profile" class="navbar-center pull-right">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
