<div class="container-fluid placecontainer">
    <div class="map_canvas placesmap"></div>
    <form>
        <div class="form-group">
            <input class="form-control" style="width: 80%; display: inline"
                   id="geocomplete"
                   type="text"
                   placeholder="Type in an address"/>
            <span class="placesSubmit">
            <input  class="btn btn-primary" id="find" type="button" value="find"/>
        <span class="placeAdd row"><a id="submit" class="hand placesLink"><span class="glyphicon glyphicon-plus"></span> Add Place</a></span>
            </span>
        </div>
    </form>
</div>