<div class="form-group">
    <label for="youtube-text">Title</label>
    <input ng-model="model.widget.description"
           type="text"
           class="form-control"
           id="youtube-text"
           value="Text"
           placeholder="Flavor Text">
</div>
<div class="form-group">
    <label for="youtube-url">URL</label>
    <input ng-model="model.widget.url"
           type="url"
           class="form-control"
           id="youtube-url"
           placeholder="YouTube URL">
</div>
<div class="form-group">
    <label for="youtube-width">Size</label>
    <input ng-model="model.widget.width"
           type="text"
           class="form-control"
           id="youtube-width"
           placeholder="100%">
</div>
