<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
           class="navbar-text navbar-link pull-left">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
        </a>
        <a class="navbar-brand pull-left">
            Choose Widget
        </a>
    </div>
</nav>

<div class="container">
    <ul class="list-group borderless">
        <li class="list-group-item">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new/HEADING"
               class="bold">
                Heading
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new/IMAGE"
               class="bold">
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new/YOUTUBE"
               class="bold">
                YouTube
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new/HTML"
               class="bold">
                HTML
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new/INPUT"
               class="bold">
                Input
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new/TEXT"
               class="bold">
                Text
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-center pull-right"
           href="#/profile/{{model.uid}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>