<form>
    <div class="form-group">
        <label for="widget-html">HTML</label>
        <div class="row no-indent blockit">
            <div class="btn-group" ng-model="model.widget.text"
             text-angular
             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
        </div>
    </div>
        <textarea ng-model="model.widget.text"
                  rows="4"
                  type="text"
                  class="form-control"
                  id="widget-html"
                  placeholder="HTML Here"></textarea>
    </div>
</form>